<div class="header header-landing">
  <div class="header-text">
    <h1 class="header-title"><b>Peihong Li</b></h1>
    <h3>Hacker | Magician | Hobbyist</h3>
    <br>
    <a href="#intro" class="btn btn-large btn-default landing">About Me</a>
    <a href="/coming_soon" class="btn btn-large btn-default landing">Blog</a>
    <a href="/resume.pdf" target="_blank" class="btn btn-large btn-default landing">Resume</a>
  </div>
</div>

<div id="intro" class="intro">
  <div class="container">
    <div class="row col-md-8 col-md-offset-2">
      <h1 class="section-title"><b>Who I Am</b></h1>
      <br>
      <p>Hey guys! I'm Pei, and welcome to my personal website. I'm a 20 year old Canadian born in China, now living in the downtown core of Toronto. I'm currently a third year student at the University of Toronto, studying Electrical and Computer Engineering in the Engineering Science program. </p>
    </div>
  </div>
</div>
<hr class="dark">
<div id="elaborate" class="intro">
  <div class="container">
    <div class="row col-md-8 col-md-offset-2">
      <h1 class="section-title"><b>What I Do</b></h1>
      <br>
      <p>I'm a hobbyist, and so I love to try new things. Here's a few that I've gotten into:</p>
      <br>
      <table class="table table-borderless">
        <tr>
          <td>Card Magic</td>
          <td>Rock Climbing</td>
          <td>Breakdancing</td>
        </tr>
        <tr>
          <td>Partying</td>
          <td>Programming</td>
          <td>Travelling</td>
        </tr>
        <tr>
          <td>Acoustic Guitar</td>
          <td>Gaming</td>
          <td>Martial Arts</td>
        </tr>
      </table>
    </div>
  </div>
</div>
<hr class="dark">
<div id="contact" class="intro">
  <div class="container">
    <div class="row col-md-8 col-md-offset-2">
      <h1 class="section-title"><b>Where I'm Going</b></h1>
      <br>
      <p><i>Someone once told me the definition of Hell: The last day you have on Earth, the person you became meets the person you could have become.</i> - Anonymous</p>
      <p>I want to live life without regrets. The last day I have on Earth, I want to look in the mirror and see the person I aspired to be. To do so, I must experience all there is to experience, without missing a single opportunity. Everywhere; that's where I'm going.</p>
    </div>
  </div>
</div>
<hr class="dark">
<div id="contact" class="intro">
  <div class="container">
    <div class="row col-md-6 col-md-offset-3">
      <a href="https://www.facebook.com/94.pei" target="_blank"><i class="fa fa-facebook-official fa-4x dark-icon"></i></a>
      <a href="https://www.linkedin.com/pub/peihong-li/70/55a/473" target="_blank"><i class="fa fa-linkedin-square fa-4x dark-icon"></i></a>
      <a href="https://github.com/peihongli94" target="_blank"><i class="fa fa-github fa-4x dark-icon"></i></a>
      <a href="mailto:pei@peihong.li" target="_top"><i class="fa fa-envelope fa-4x dark-icon"></i></a>
      <p>&copy Peihong Li 2014</p>
    </div>
  </div>
</div>
